.button {
    padding: 0;
    margin: 0;
    text-decoration: none;
    width: 177px;
    padding: 18px 40px;
    background-color: #1F6BFF;
    border-radius: 4px;
    font-weight: 500;
    font-size: 18px;
    line-height: 166%;
    color: #FFFFFF;
    border: none;
    flex: none;
    order: 0;
    flex-grow: 0;
}